/* -------------------------------- 

Add by tz 2022/6/6 面包屑效果样式

-------------------------------- */
.htmleaf-container {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    line-height: 1px;
}

.htmleaf-container a {
    text-decoration: none;
    outline: none;
    height: 20px;
}

/* -------------------------------- 

Basic Style

-------------------------------- */
.cd-breadcrumb {
    padding: 0.5em 1em;
    margin: 1em auto;
    background-color: #edeff0;
    border-radius: .25em;
    margin-block: auto; }

.cd-breadcrumb li {
    display: inline-block;
    float: left;
    margin: 0.5em 0;
}

.cd-breadcrumb li::after {
    /* this is the separator between items */
    display: inline-block;
    content: '\00bb';
    margin: 0 .6em;
    color: #959fa5;
}

.cd-breadcrumb li:last-of-type::after {
    /* hide separator after the last item */
    display: none;
}

.cd-breadcrumb li>* {
    /* single step */
    display: inline-block;
    font-size: 10px;
    color: #2c3f4c;
}

.cd-breadcrumb li.current>* {
    /* selected step */
    color: #96c03d;
}

.cd-breadcrumb li>a:hover {
    /* steps already visited */
    color: #96c03d;
}

.cd-breadcrumb.custom-separator li::after {
    /* replace the default arrow separator with a custom icon */
    content: '';
    height: 16px;
    width: 16px;
    background: url(../styles/../img/cd-custom-separator.svg) no-repeat center center;
    vertical-align: middle;
}

.cd-breadcrumb.custom-icons li>a>span, .cd-breadcrumb.custom-icons li>em>span {
    /* add a custom icon before each item */
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: .4em;
    margin-top: -2px;
    /* background: url(../styles/./img/cd-custom-icons-01.svg) no-repeat 0 0; */
    vertical-align: middle;
    /* background: url(../styles/./img/ExecuteSearch.svg) no-repeat; */
    background-size: 100% 100%;
}

.cd-breadcrumb.custom-icons li>a>a, .cd-breadcrumb.custom-icons li>em>a {
    /* add a custom icon before each item */
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cd-breadcrumb.custom-icons li>a, .cd-breadcrumb.custom-icons li>em {
    text-overflow: ellipsis;
    max-width: 150px;
    white-space: nowrap;
    /* overflow: hidden; */
}

.cd-breadcrumb.custom-icons li>a>a {
    display: inline-flex;
}

/* -------------------------------- 

Triangle breadcrumb

-------------------------------- */
.cd-breadcrumb.triangle {
    /* reset basic style */
    background-color: transparent;
    padding: 0;
}

.cd-breadcrumb.triangle li {
    position: relative;
    padding: 0;
    margin: 4px 4px 4px 0;
}

.cd-breadcrumb.triangle li:last-of-type {
    margin-right: 0;
}

.cd-breadcrumb.triangle li>* {
    position: relative;
    padding: 0.5em 0.8em 0.5em 2.5em;
    color: #2c3f4c;
    background-color: #d4d4d4;
    /* the border color is used to style its ::after pseudo-element */
    border-color: #d4d4d4;
}

.cd-breadcrumb.triangle li.current>* {
    /* selected step */
    color: #ffffff;
    background-color: #96c03d;
    border-color: #96c03d;
    font-style: initial;
}

.cd-breadcrumb.triangle li:first-of-type>* {
    padding-left: 1.6em;
    border-radius: .25em 0 0 .25em;
}

.cd-breadcrumb.triangle li:last-of-type>* {
    padding-right: 1.6em;
    /* padding-bottom:12px; */
    border-radius: 0 .25em .25em 0;
    overflow: hidden;
    height: 20px;
}

.cd-breadcrumb.triangle li>a:hover {
    /* steps already visited */
    color: #ffffff;
    background-color: #2c3f4c;
    border-color: #2c3f4c;
}

.cd-breadcrumb.triangle li::after, .cd-breadcrumb.triangle li>*::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
    height: 0;
    width: 0;
    /* 48px is the height of the <a> element */
    border: 24px solid transparent;
    border-right-width: 0;
    border-left-width: 20px;
}

.cd-breadcrumb.triangle li::after {
    /* this is the white separator between two items */
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #ffffff;
    /* reset style */
    margin: 0;
}

.cd-breadcrumb.triangle li>*::after {
    /* this is the colored triangle after each element */
    z-index: 2;
    border-left-color: inherit;
}

.cd-breadcrumb.triangle li:last-of-type::after, .cd-breadcrumb.triangle li:last-of-type>*::after {
    /* hide the triangle after the last step */
    display: none;
}

.cd-breadcrumb.triangle.custom-separator li::after {
    /* reset style */
    background-image: none;
}

.cd-breadcrumb.triangle.custom-icons li::after, .cd-breadcrumb.triangle.custom-icons li>*::after {
    /* 50px is the height of the <a> element */
    border-top-width: 15px;
    border-bottom-width: 15px;
}

/* -------------------------------- 

Custom icons hover effects - breadcrumb and multi-steps

-------------------------------- */
.cd-breadcrumb.triangle.custom-icons li a:hover span {
    background-color: #ffffff;
}

/* -------------------------------- 

End by tz 2022/6/6 面包屑效果样式

-------------------------------- */